body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.citat {
  border: 1px solid lightpink;
  box-shadow: 20px 20px 20px 10px lightpink;
  text-align: center;
  border-radius: 20px;
  padding: 2rem;
}

h1 {
  font-style: italic;
}
