#space-image{
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body{
    background-color: #35055c;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.spin {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}